<template>
  <div>
    <transition name="slide-fade" mode="out-in" appear>
      <router-view></router-view>
    </transition>
  </div>
</template>
<script>
  import Vue from 'vue';
  import VueApp from './main';

  export default {
    name: 'App',
    data () {
      return {
        timerId : null,
      }
    },
    methods: {
    },
  }
</script>
