/*Button-loading*/
.buttonload {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
}

.fish .card .tarif-header{
  font-family: 'Helvetica' !important;
  font-size: 30px !important;
}

.fish .card .tarif-text{
  font-family: 'Helvetica' !important;
  font-size: 25px !important;
}


.hide {
  display: none;
}
/*-----------*/

/* Sidebar */
.sidebar-layout {
  padding: 10px 20px 10px 20px;
}

.sidebar-pill {
  font-size: 25px;
  cursor: pointer;
  margin: 10px 0 0 0;
}

.no-mg {
  margin: 0 !important;
}

.no-b-mg {
  margin-bottom: 0 !important;
}

.no-b-pd {
  padding-bottom: 0 !important;
}

.no-t-brdr {
  border-top: none;
}

.nav-but {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.member-icon {
  font-size: 20px !important;
}

.pointer {
  cursor: pointer !important;
}

.create-project {
  font-size: 3em;
  color: #337ab7;
  cursor: pointer;
  width: 9em;
}

.fish-option {
  padding-left: 40px;
  font-size: 20px !important;
}

.fish-col-project {
  margin-left: 15px !important;
}

.fish-tabs-project {
  font-size: 20px !important;
}
/*
.fish-tabs-project fish-tab-pane {
  margin: 15px 15px 15px 15px !important;
} */

.fish-card-project {
  margin: 0 20px 20px 20px;
  width: auto !important;
}

.small-foot .footer {
  padding: 0px !important;
}

.fish-card-doc-project {
  margin: 0 20px 20px 20px;
}

.fish-segment-bord {
  margin: 20px !important;
}

.fish-card-shadow:hover {
  box-shadow: 0 5px 10px gray !important;
  -moz-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
  -webkit-transition: all 0.2s ease-in !important;
  transition: all 0.1s ease-in !important;
  cursor: pointer;
}

.fish-form-mid {
  color: black !important;
  font-size: 15px !important;
}

.w-full {
  width: 100% !important;
}

.fish-submenu {
  padding: 20px 20px 0 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mg-l-15 {
  margin-left:15px;
}

.bottom-span {
  margin-bottom: 20px;
}

.fish-col-bord {
  padding: 15px 15px 15px 15px;
}

/* для модальных окон fish ui */
.fish .modal {
  display: block !important;
  height: 500px !important;
}

.fish-clear-row {
  margin: 0 !important;
}

.cross {
  cursor: pointer;
}

.market-board {
  padding: 15px 15px 0 15px !important;
}

.market-board .content {
  padding: 0 !important;
}

.market-board .segment {
  margin: 0 0 15px 0 !important;
}

/*-----------*/
/*
.blue-btn {
  background-color: #337ab7 !important;
} */

