<template>
<div id="bell">

{{ update_data }}

<fish-row class="fish-clear-row">
  <fish-col class="fish-col-bord" span="24">
    <fish-card fluid>
      <fish-row class="fish-clear-row">

        <fish-col class="fish-col-bord" span="4">
          <fish-menu mode="inline" default-active="0">
            <fish-option id="opt0" class="fish-option" index="0" content="Приглашения в проекты"></fish-option>
            <fish-option id="opt1" class="fish-option" index="1" content="Уведомления"></fish-option>
          </fish-menu>
        </fish-col>

        <fish-col class="fish-col-bord" span="20">
          <!-- TODO НЕОБХОДИМА ПАГИНАЦИЯ И ВЫВОД УВЕДОМЛЕНИЙ -->
            <fish-segment v-for="invite in invites" :key="invite.id">
              Вас пригласили в проект {{invite.project.title}}
              <fish-button @click="accept(invite)">Принять</fish-button>
              <fish-button @click="reject(invite)">Удалить</fish-button>
            </fish-segment>
        </fish-col>

      </fish-row>
    </fish-card>
  </fish-col>
</fish-row>

</div>
</template>

<script>
export default {
  name: 'bell',
  data: function () {
    return {
      invites: [],
    }
  },
  computed: {
    update_data() {
      this.invites = this.$store.state.user.invites;
    }
  },
  methods: {
    list_invites() {
      let that = this;
      that.$store.dispatch('updateUser');
    },
    accept(invite){
      let that = this;
      axios.post('/api/invite/accept', {
        invite: invite,
      })
      .then(() => {
        that.$store.dispatch('updateUser');
      });
    }
  },
  mounted () {
    this.list_invites();
  }
}
</script>
