<template><div>

<fish-row class="fish-clear-row">
  <fish-button @click="check()">check</fish-button>
  <fish-button @click="fold()">fold token</fish-button>
  <fish-button @click="get_proj()">get proj</fish-button>
<fish-col span="3">

  {{ update_data }}

  <fish-menu mode="inline" default-active="1">
    <fish-option id="profile" v-on:click="switchComponent($event)" class="fish-option" index="0" content="Профиль"></fish-option>
    <fish-option id="market" v-on:click="switchComponent($event)" class="fish-option" index="1" content="Биржа"></fish-option>
    <!-- <fish-option v-on:click="switchComponent($event)" class="fish-option" index="2" content="Проекты"></fish-option> -->
    <fish-submenu v-if="user" class="fish-option" index="2" mode="inline">
      <template slot="title">Проекты</template>
      <fish-option id="projectCreate" v-on:click="switchComponent($event)" class="fish-option" index="2-0" content="newproj">Новый проект &#65291;</fish-option>
      <fish-option id="project" v-on:click="switchComponent($event, project)" class="fish-option" :index="'2-'+(index)" v-for="(project, index) in user.projects" :key="project.id" :content="project.title"></fish-option>
    </fish-submenu>
  </fish-menu>

  <ul>
    <li>
      <a @click.prevent="logout">Выход</a>
    </li>
  </ul>

</fish-col>


<fish-col span="21">
  <div id="content">
    <keep-alive>
      <transition name="slide-fade" mode="out-in" appear>
        <component :__project__="transfer.project" :key="generator" :is="nowComponent"></component>
        <!-- <Project></Project> -->
      </transition>
    </keep-alive>
  </div>
</fish-col>

</fish-row></div>
</template>


<script>
import Vue from 'vue';
import Project from '../components/Project';
import ProjectCreate from '../components/ProjectCreate';
import Market from '../components/Market';

export default {
  name: 'dashboard',
  data: function() {
    return {
      user: null,
      nowComponent: Market,
      generator: 1,
      selectedProjectId: null,
      transfer: {
        project: null,
      }
    }
  },
  components: {
    Project,
    ProjectCreate,
    Market,
  },
  computed: {
    update_data() {
      let that = this;

      that.user = that.$store.state.user;

      (that.selectedProjectId) ?
        (that.transfer.project = that.get_project()) :
        (that.transfer.project = null);
    },
  },
  methods: {
    get_project(){
      let that = this;
      return that.user.projects.filter((item) => {
        return item.id === that.selectedProjectId;
      })[0];
    },
    check() {
      console.log({'token' : this.$store.state.access_token, 'user' : this.$store.state.user, 'active' : this.active});
    },
    fold(){
      this.$store.commit('remove_access_token');
    },
    switchComponent(event, project=null) {
      let that = this;
      if (project) {
        that.nowComponent = Project;
        that.selectedProjectId = project.id;
        that.generator++;
      }
      else if (event.target.id === 'market') {
        that.nowComponent = Market;
        that.active = 'market';
      }
      else if (event.target.id === 'projectCreate') {
        that.nowComponent = ProjectCreate;
        that.active = 'projectCreate';
      }
      else if (event.target.id === 'profile') {
        that.nowComponent = null;
        that.active = 'profile';
      }
    },
    logout() {
      let that = this;
      that.$store.dispatch('signout')
      .then(() => {
        that.$router.push('/signin');
      })
      .catch((err) => {
        console.log(err);
      });
    },

  },
}
</script>
