<template>
  <section class="main" id="main">

    <div class="container-fluid">
      <div class="row">
        <Navbar></Navbar>
      </div>
      <div class="row">
        <keep-alive>
          <transition name="slide-fade" mode="out-in" appear>
            <router-view :key="$route.fullPath"></router-view>
          </transition>
        </keep-alive>
      </div>
    </div>

  </section>
</template>

<script>
  import Vue from 'vue';
  import Navbar from '../components/Navbar';

  export default {
    name: 'Home',
    components: {
      Navbar,
    },
    data() {
      return {
      }
    },
    methods: {

    },
    created() {
      let that = this;
      that.$store.dispatch('checkAccessToken')
      .then((success) => {
        if (!success)
          that.$router.push('/signin');
      })
      .catch((err) => {
        console.log(err);
      });
    },
  };
</script>
