<template>
<div id="tarif">

<fish-row class="fish-clear-row">
  <fish-col class="fish-col-bord" span="24">
    <fish-card fluid>
      <fish-row class="fish-clear-row">

        <fish-col class="fish-col-bord" span="6">

        </fish-col>

        <fish-col class="fish-col-bord tarif-text" span="6">
          <fish-card fluid>
            <div class="tarif-header text-center" slot="header">БЕСПЛАТНЫЙ</div>
            <i class="fa fa-times"></i>Управление одним проектом!
          </fish-card>
        </fish-col>

        <fish-col class="fish-col-bord tarif-text" span="6">
          <fish-card fluid>
            <div class="tarif-header text-center" slot="header">ПЛАТНЫЙ</div>
            <i class="fa fa-check"></i>Управление множеством проектов
            <div class="tarif-header text-center" slot="footer">ЦЕНА: 100р</div>
          </fish-card>
        </fish-col>

        <fish-col class="fish-col-bord" span="6">

        </fish-col>

      </fish-row>
    </fish-card>
  </fish-col>
</fish-row>

</div>
</template>

<script>
export default {
  name: 'tarif',
  data: function () {
    return {
      invites: [],
    }
  },
  methods: {

  }
}
</script>
