<template><div id="market">

<fish-row class="fish-clear-row">

  <fish-col class="fish-col-bord" span="18">
    <fish-card fluid class="market-board">
      <fish-segment>
        fish
      </fish-segment>

      <fish-segment>
        fish
      </fish-segment>

    </fish-card>
  </fish-col>

  <fish-col class="fish-col-bord" span="6">

    <fish-card fluid>
        <fish-form>

          <fish-fields>
            <fish-field span="22">
              <fish-select hint="Выберите социальную сеть" multiple v-model="promotionTypes">
                <fish-option index="0" content="ВКонтакте">ВКонтакте</fish-option>
                <fish-option index="1" content="Instagram">Instagram</fish-option>
                <fish-option index="2" content="Telegram">Telegram</fish-option>
                <fish-option index="3" content="Viber">Viber</fish-option>
                <fish-option index="4" content="Одноклассники">Одноклассники</fish-option>
              </fish-select>
            </fish-field>
            <fish-field inline span="2">
              <i @click="clearPromotionTypes" class="fa fa-times cross"></i>
            </fish-field>
          </fish-fields>
          <fish-fields>

            <fish-field span="12">
              <fish-select v-model="sort.type">
                <fish-option index="0" content="По убыванию">По убыванию</fish-option>
                <fish-option index="1" content="По возрастанию">По возрастанию</fish-option>
              </fish-select>
            </fish-field>

            <fish-field span="12">
              <fish-select v-model="sort.target">
                <fish-option index="0" content="Рейтинг">Рейтинг</fish-option>
                <fish-option index="1" content="Завершенные проекты">Завершенные проекты</fish-option>
              </fish-select>
            </fish-field>

          </fish-fields>
        </fish-form>
    </fish-card>
  </fish-col>


</fish-row>

</div>
</template>

<script>
export default {
  name: 'market',
  data: function () {
    return {
      promotionTypes: [],
      sort: {
        type: "0",
        target: "0"
      }
    }
  },
  methods: {
    clearPromotionTypes() {
      this.promotionTypes = [];
    },
  },
}
</script>
