<template>
<div id="navbar">

  <nav style="border-radius:0" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a @click="goBell()" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </nav>

</div>
</template>

<script>
export default {
  name: 'navbar',
  data: function () {
    return {

    }
  },
  methods: {
    goBell() {
      this.$router.push('bell');

    },
  },
}
</script>
