<template>
<div id="project">

  {{ update_data }}

<fish-button @click="check_proj()">check proj</fish-button>

<fish-row v-if="project" class="fish-clear-row">
<fish-col class="fish-col-bord" span="24">

  <fish-modal title="Пригласить участника" :visible.sync="modal.invite">
    <fish-form>
      <fish-fields>

        <fish-field span="18">
          <fish-input v-model="fillable.user.email" hint="email"></fish-input>
        </fish-field>

        <fish-field span="6">
          <fish-button class="w-full" type="positive" @click="invite()">Пригласить</fish-button>
        </fish-field>

      </fish-fields>
    </fish-form>
  </fish-modal>

  <fish-modal title="Выгнать участников" :visible.sync="modal.kick">
    <fish-form>
      <fish-fields>

        <fish-field span="18">
          <fish-select multiple v-model="usersToKick">
            <fish-option v-for="user in project.other_users" :key="user.id" :index="user.id" :content="user.email"></fish-option>
          </fish-select>
        </fish-field>

        <fish-field span="6">
          <fish-button class="w-full" type="negative" @click="kick()">Выгнать</fish-button>
        </fish-field>

      </fish-fields>
    </fish-form>
  </fish-modal>

  <fish-modal title="Добавить задачу" :visible.sync="modal.createTask">
    <fish-form>

      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="fillable.task.title" hint="Тема"></fish-input>
        </fish-field>
      </fish-fields>

      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="fillable.task.description" type="textarea" hint="Описание задачи"></fish-input>
        </fish-field>
      </fish-fields>

      <fish-fields>
        <fish-field span="24">
          <fish-button class="w-full" type="positive" @click="storeTask()">Создать</fish-button>
        </fish-field>
      </fish-fields>

    </fish-form>
  </fish-modal>

  <fish-modal title="Задача" :visible.sync="modal.task">
    <fish-form v-if="editable.task">

      Тема
      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="editable.task.title" hint="Тема"></fish-input>
        </fish-field>
      </fish-fields>

      Описание
      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="editable.task.description" type="textarea" hint="Описание задачи"></fish-input>
        </fish-field>
      </fish-fields>

      <fish-fields>

        <fish-field span="24">
          <fish-button class="w-full" type="positive" @click="updateTask()">Сохранить</fish-button>
        </fish-field>

      </fish-fields>

      <fish-divider></fish-divider>

      Участники задачи:
      <fish-tag v-for="user in editable.task.users" :key="user.id" :index="'user-tag-' + user.id" @close="removeUserFromTask(user)">{{user.email}}</fish-tag>
      <fish-fields>
        <fish-field span="20">
          <fish-select search v-model="editable.selectedUser">
            <fish-option v-for="user in project.users" :key="user.id" :index="user.id" :content="user.email"></fish-option>
          </fish-select>
        </fish-field>
        <fish-field span="4">
          <fish-button @click="addUserToTask()" class="w-full" type="positive">Добавить</fish-button>
        </fish-field>
      </fish-fields>

    </fish-form>
  </fish-modal>

  <fish-modal title="Добавить документ" :visible.sync="modal.createDocument">
    <fish-form>

      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="fillable.document.title" hint="Название документа"></fish-input>
        </fish-field>
      </fish-fields>

      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="fillable.document.description" type="textarea" hint="Описание документа"></fish-input>
        </fish-field>
      </fish-fields>

      <fish-fields>
        <fish-field :disabled="fillable.document.title == ''" span="24">
          <input class="w-full" @change="storeDocument" type="file">
        </fish-field>
      </fish-fields>

    </fish-form>
  </fish-modal>

  <fish-modal title="Документ" :visible.sync="modal.document">
    <fish-form v-if="editable.document">

      Название
      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="editable.document.title" hint="Тема"></fish-input>
        </fish-field>
      </fish-fields>

      Описание
      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="editable.document.description" type="textarea" hint="Описание задачи"></fish-input>
        </fish-field>
      </fish-fields>

      Обзор
      <VueDocPreview :url="editable.document.url" type="office" />

      <fish-fields>

        <fish-field span="24">
          <fish-button class="w-full" type="positive" @click="updateDocument">Сохранить</fish-button>
        </fish-field>

      </fish-fields>

    </fish-form>
  </fish-modal>


  <fish-tabs class="fish-tabs-project noselect" type="card" value="users" @tab-change="tabChangeHandler">

    <fish-tab-pane label="Участники" index="users">

      <fish-form class="fish-submenu">
        <fish-fields>

          <fish-field span="12">
            <fish-button class="w-full" type="positive" @click="modal.invite = true">Пригласить</fish-button>
          </fish-field>

          <fish-field span="12">
            <fish-button class="w-full" type="negative" @click="modal.kick = true">Выгнать</fish-button>
          </fish-field>

        </fish-fields>
      </fish-form>
      <fish-segment class="fish-segment-bord" v-for="user in project.users" :key="user.id">
        {{user.email}}
      </fish-segment>

    </fish-tab-pane>

    <fish-tab-pane label="Задачи" index="tasks">

      <fish-form class="fish-submenu">
        <fish-fields>

          <fish-field span="24">
            <fish-button class="w-full" type="positive" @click="modal.createTask = true">Добавить</fish-button>
          </fish-field>

        </fish-fields>
      </fish-form>

      <div class="bottom-span"></div>

      <fish-cards cols="three">
        <fish-card class="small-foot" v-for="task in project.tasks" :key="task.id" color="grey">
          <div slot="header"><strong>{{ task.title }}</strong></div>
          <div style="word-wrap: break-word;">{{ textFormatter(task.description) }}</div>
          <div slot="footer"><fish-button class="w-full" @click="openTask(task)">Открыть</fish-button></div>
        </fish-card>
      </fish-cards>

    </fish-tab-pane>

    <fish-tab-pane label="Чат" index="chat">
      <textarea readonly="" v-model="chat.messages"></textarea>
      <fish-input v-model="chat.input"></fish-input>
      <fish-button @click="sendMessage()">Send</fish-button>
    </fish-tab-pane>

    <fish-tab-pane label="Документы" index="docs">

      <fish-form class="fish-submenu">
        <fish-fields>

          <fish-field span="12">
            <fish-button class="w-full" type="positive" @click="modal.createDocument = true">Добавить</fish-button>
          </fish-field>

          <fish-field span="12">
            <fish-button class="w-full" type="negative">Удалить</fish-button>
          </fish-field>

        </fish-fields>
      </fish-form>

      <fish-cards cols="5">
        <fish-card v-for="document in project.documents" :key="document.id" class="fish-card-doc-project fish-card-shadow" color="grey">
          <fish-image :url="require('E:\\OSPanel\\domains\\smm\\resources\\img\\docl.jpg')" style="height: 200px;"></fish-image>
          <div class="text-center" slot="footer" @click="openDocument(document)"><strong>{{document.title}}</strong></div>
        </fish-card>
      </fish-cards>
    </fish-tab-pane>

  </fish-tabs>

</fish-col>
</fish-row>
</div>
</template>

<script>
import VueDocPreview from 'vue-doc-preview'

export default {
  name: 'project',
  props: {
    __project__: Object,
  },
  components: {
    VueDocPreview
  },
  data: function () {
    return {
      project: null,
      nowtab: '',
      usersToKick: [],
      chat: {
        messages: [],
        input: ''
      },
      modal: {
        invite: false,
        kick: false,
        task: false,
        document: false,
        createTask: false,
        createDocument: false,
      },
      fillable: {
        document: {
          title: '',
          description: '',
        },
        task: {
          title: '',
          description: '',
        },
        user: {
          email: '',
        },
      },
      editable: {
        task: null,
        document: null,
        selectedUser: '',
      }
    }
  },
  computed: {
    update_data() {
      let that = this;
      if (that.$store.state.user) {
        that.project = that.$props.__project__;
        that.project_id = that.$props.__project__.id;
        that.project.other_users = that.project.users.filter((item) => {
          return item.id != that.$store.getters.user.id;
        });
      }
    },
  },
  methods: {
    storeDocument(event) {
      let that = this;
      let formData = new FormData();
      that.modal.createDocument = false;
      formData.append('file', event.target.files[0]);

      axios.post('/api/file', formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      })
      .then((r) => {
        axios.post('/api/document', {
          project: that.project,
          document: that.fillable.document,
          file: r.data.file
        })
        .then(() => {
          that.$store.dispatch('updateUser');
        })
      });
    },
    check_proj(){
      let that = this;
      console.log(that.project);
    },
    kick() {
      let that = this;
      axios.post('/api/project/kick', {
        project : that.project,
        users : that.usersToKick
      })
      .then(() => {
        that.$store.dispatch('updateUser');
      });
    },
    invite() {
      let that = this;
      that.modal.invite = false;
      axios.post('/api/invite', {
        user: { email: that.fillable.user.email },
        inviter: that.$store.state.user,
        project: that.project,
      })
    },
    tabChangeHandler(index) {
      // console.log(this.$props.title);
    },
    openTask(task) {
      let that = this;
      that.editable.task = task;
      that.modal.task = true;
    },
    openDocument(document){
      let that = this;
      that.editable.document = document;
      axios.post('/api/document/get', {
        document:document
      })
      .then((r) => {
        that.editable.document.url = r.data.url;
        that.modal.document = true;
      });
    },
    sendMessage(){
      let that = this;
      axios.post('/broadcast/messages', { message: that.chat.input });
      that.chat.input = '';
    },
    addUserToTask() {
      let that = this;
      axios.put('/api/task/user/attach', {
        user: {
          id: that.editable.selectedUser
        },
        task: that.editable.task
      })
      .then((r) => {
        that.$store.dispatch('updateUser').then(() => {
          that.editable.task = r.data.task;
        })
      });
    },
    removeUserFromTask(user) {
      let that = this;
      axios.put('/api/task/user/detach', {
        user: {
          id: user.id
        },
        task: that.editable.task
      })
      .then((r) => {
        that.$store.dispatch('updateUser');
      });
    },
    textFormatter(text, devider=100) {
      if (text.length < devider)
        return text;
      else
        return text.substring(0, devider) + '...';
    },
    storeTask() {
      let that = this;
      that.modal.createTask = false;
      axios.post('/api/task', {
        task : that.fillable.task,
        project : that.project
      })
      .then((r) => {
        that.$store.dispatch('updateUser');
      })
      .catch((err) => {
        console.log(err.response)
      });
    },
    updateTask() {
      let that = this;
      that.modal.task = false;
      axios.put('/api/task', {
        task : that.editable.task
      })
      .then((r) => {
        that.$store.dispatch('updateUser');
      })
      .catch((err) => {
        console.log(err.response)
      });
    },
    updateDocument() {
      let that = this;
      that.modal.document = false;
      axios.put('/api/document', {
        document : that.editable.document
      })
      .then((r) => {
        that.$store.dispatch('updateUser');
      })
      .catch((err) => {
        console.log(err.response)
      });
    },
    // select(event, navbut) {
    //   let that = this;
    //   let buttons = document.getElementsByClassName("nav-but");

    //   for (let i = 0; i < buttons.length; i++) {
    //     buttons[i].parentElement.classList.remove("active");
    //   }

    //   event.target.parentElement.classList.add("active");

    //   that.nowNavBut = navbut;
    // },
  },
  mounted() {
    let that = this;
    window.Echo.channel('chat').listen('Message', ({message}) => {
      that.chat.messages.push(message);
    });
  },
}
</script>
