<template>
<div>

<fish-row class="fish-clear-row">
  <fish-col class="fish-col-bord" span="9"></fish-col>
  <fish-col class="fish-col-bord" span="6">

    <fish-form ref="form">
      <fish-card fluid color="gray">

        <fish-fields class="fish-form-mid">
          <fish-field span="24">
            Название проекта
            <fish-input hint="" v-model="title"></fish-input>
          </fish-field>
        </fish-fields>

        <fish-fields class="fish-form-mid">
          <fish-field span="24">
            Описание проекта
          <fish-input type="textarea" hint="" v-model="description"></fish-input>
          </fish-field>
        </fish-fields>

        <fish-fields class="fish-form-mid">
          <fish-field span="24">
            <fish-button :loading="loading" @click="store()" class="w-full" type="positive">Создать</fish-button>
          </fish-field>
        </fish-fields>

      </fish-card>
    </fish-form>

  </fish-col>
  <fish-col class="fish-col-bord" span="9"></fish-col>
</fish-row>

</div>
</template>

<script>
export default {
  name: 'project',
  data: function () {
    return {
      title: "",
      description: "",
      loading: false,
    }
  },
  methods: {
    store () {
      let that = this;
      that.loading = true;
      axios.post('/api/project', {
        project: {
          title: that.title,
          description: that.description,
        }
      })
      .then((r) => {
        that.$store.dispatch('updateUser');
      })
      .catch((err) => {

      })
      .finally(() => {
        that.loading = false;
      });
    },
  },
}
</script>
