<template>

<div id="signin">
<fish-row class="fish-clear-row">

  <fish-col span="10">
    <fish-button @click="check()">check</fish-button>
    <fish-button @click="login()">login</fish-button>
  </fish-col>

  <fish-col span="4">
    <fish-form>

      Адрес электронной почты
      <fish-fields>
        <fish-field span="24">
          <fish-input v-model="email" hint=""></fish-input>
        </fish-field>
      </fish-fields>

      Пароль
      <fish-fields>
        <fish-field span="24">
          <fish-input type="password" v-model="password" hint=""></fish-input>
        </fish-field>
      </fish-fields>

      <div class="text-center">
        <fish-button class="w-full" @click="signin()" type="primary">Войти</fish-button>
        <fish-divider></fish-divider>
        <router-link tag="div" :to="{ name: 'signup' }">
          <fish-button class="w-full" type="primary">Зарегистрироваться</fish-button>
        </router-link>
      </div>

    </fish-form>
  </fish-col>

  <fish-col span="10"></fish-col>

</fish-row>
</div>

</template>

<script>

export default {
  data() {
    return {
      password: "",
      email: "",
      errors: false,
      remember: false,
    }
  },
  methods: {
    check() {
      console.log({ 'token' : this.$store.state.access_token, 'token-get' : this.$store.getters.access_token, 'user' : this.$store.state.user});
    },
    login() {
      let that = this;
      let user = {
        email: that.email,
        password: that.password,
      }
      that.$store.dispatch('signin', user)
    },

    signin() {
      let that = this;
      let user = {
        email: that.email,
        password: that.password,
      }
      that.$store.dispatch('signin', user)
      .then(() => {
        window.location.reload(false);
      })
      .catch((err) => {
        console.log(err);
      })
    },
  },
}

</script>

