<template>

<div id="signup">

  <fish-row class="fish-clear-row">

    <fish-col span="10"></fish-col>

    <fish-col span="4">
      <fish-form>

        Имя
        <fish-fields>
          <fish-field span="24">
            <fish-input v-model="user.firstname" hint=""></fish-input>
          </fish-field>
        </fish-fields>

        Фамилия
        <fish-fields>
          <fish-field span="24">
            <fish-input v-model="user.lastname" hint=""></fish-input>
          </fish-field>
        </fish-fields>

        Кто вы?
        <fish-fields>
          <fish-field span="24">
            <fish-select v-model="typeSelect">
              <fish-option v-for="type in types" :key="type.id" :index="type.id" :content="type.title"></fish-option>
            </fish-select>
          </fish-field>
        </fish-fields>

        Адрес электронной почты
        <fish-fields>
          <fish-field span="24">
            <fish-input v-model="user.email" hint=""></fish-input>
          </fish-field>
        </fish-fields>

        Пароль
        <fish-fields>
          <fish-field span="24">
            <fish-input type="password" v-model="user.password"  hint=""></fish-input>
          </fish-field>
        </fish-fields>

        <fish-fields>
          <fish-field span="24">
            <fish-button class="w-full" :loading="load" v-on:click="signup()" type="positive">
              Зарегистрироваться
            </fish-button>
          </fish-field>
        </fish-fields>

      </fish-form>
    </fish-col>

  <fish-col span="10"></fish-col>

  </fish-row>
</div>

</template>

<script>

export default {
  data() {
    return {
      typeSelect: null,
      types: [],
      load: false,
      user: {
        password: "",
        email: "",
        firstname: "",
        lastname: "",
        type_id: 0,
      },
    }
  },
  methods: {
    signup() {
      let that = this;
      that.load = true;
      that.user.type_id = that.typeSelect;
      axios.post('api/auth/signup', {
        user: that.user
      })
      .then(function(r){
        that.$router.push('signin');
      });
    },
    getTypes() {
      let that = this;
      axios.get('api/type/list').then((r) => {
        that.types = r.data.types;
      });
    },
  },
  mounted() {
    this.getTypes();
  }
}

</script>
